/*Reset styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#D3D3D3;
    color: #333;
    margin: 0;

}#main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #777;
    box-shadow: 0 0 10px;
    flex-grow: 1;
}

/* Game infot styles*/
.gameinfo {
    text-align: center;
    margin: 20px auto;
    flex-grow: 1;
}
/* Heading styles */
h1 {
    font-size: 5em;
    margin-bottom: 10px ;
} 
/*icons styles */
.icon {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.icon img {
    width: 200px;
    margin: 0 30px;
    cursor: pointer;
}

.info {
    margin: 20px auto;
    margin-top: 20px;
}

/* Reset Buttin Styles */
.start {
    text-decoration: none;
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #3498bd;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.start:hover {
    background-color: gold;
}
/* adding hover to reset */
.reset:hover {
    background-color: gold;
}



/* Footer styles */
footer {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    color: #fff;
}

/* html2 styles*/ 
.scores {
    display: flex; 
    justify-content: space-around;
    width: 100%;
}

.scoreboard {
    display: flex; 
    justify-content: space-around;
    width: 100%;
}
.player {
    color: #333;
    font-size: 1.5em;
    margin: 20px auto;
}

.reset {
    text-decoration: none;
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #3498bd;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#scoreContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  #leftScore, #rightScore {
    flex: 1;
    text-align: center;
  }
